[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
pytest = "*"
coverage = "*"
mongoengine = "*"
click = "*"
pytest-mock = "*"
celery = {version = "*", extras = ["redis"]}
gunicorn = "*"

[requires]
python_version = "3.6"
